interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/relation/1850539/full.json
  response:
    body:
      string: "{\"version\":\"0.6\",\"generator\":\"CGImap 0.9.0 (3095958 spike-08.openstreetmap.org)\",\"copyright\":\"OpenStreetMap
        and contributors\",\"attribution\":\"http://www.openstreetmap.org/copyright\",\"license\":\"http://opendatacommons.org/licenses/odbl/1-0/\",\"elements\":[{\"type\":\"node\",\"id\":97469328,\"lat\":-20.6164522,\"lon\":-40.4173520,\"timestamp\":\"2020-02-23T14:00:02Z\",\"version\":5,\"changeset\":81367371,\"user\":\"importES\",\"uid\":8065782},{\"type\":\"node\",\"id\":320508538,\"lat\":-20.5396612,\"lon\":-40.3795195,\"timestamp\":\"2020-01-31T03:21:32Z\",\"version\":6,\"changeset\":80344728,\"user\":\"importES\",\"uid\":8065782},{\"type\":\"node\",\"id\":320508548,\"lat\":-20.5409246,\"lon\":-40.3803885,\"timestamp\":\"2020-01-31T03:21:32Z\",\"version\":5,\"changeset\":80344728,\"user\":\"importES\",\"uid\":8065782},{\"type\":\"node\",\"id\":320508571,\"lat\":-20.5426225,\"lon\":-40.3815955,\"timestamp\":\"2020-01-31T03:21:[...]
