interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/relation/4817103/full.json
  response:
    body:
      string: "{\"version\":\"0.6\",\"generator\":\"CGImap 0.9.0 (1085862 spike-06.openstreetmap.org)\",\"copyright\":\"OpenStreetMap
        and contributors\",\"attribution\":\"http://www.openstreetmap.org/copyright\",\"license\":\"http://opendatacommons.org/licenses/odbl/1-0/\",\"elements\":[{\"type\":\"node\",\"id\":27178422,\"lat\":45.4323252,\"lon\":12.3372060,\"timestamp\":\"2018-02-01T02:26:38Z\",\"version\":12,\"changeset\":55952716,\"user\":\"gionax\",\"uid\":6757296},{\"type\":\"node\",\"id\":27181660,\"lat\":45.4298857,\"lon\":12.3549269,\"timestamp\":\"2013-09-13T10:28:59Z\",\"version\":7,\"changeset\":17814898,\"user\":\"SldrHartman\",\"uid\":64392},{\"type\":\"node\",\"id\":27451998,\"lat\":45.4334715,\"lon\":12.3411751,\"timestamp\":\"2018-01-31T13:46:52Z\",\"version\":10,\"changeset\":55933258,\"user\":\"gionax\",\"uid\":6757296},{\"type\":\"node\",\"id\":27459112,\"lat\":45.4291961,\"lon\":12.3345101,\"timestamp\":\"2015-10-06T19:23:23Z\",\"v[...]
