interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/relation/284570/full.json
  response:
    body:
      string: "{\"version\":\"0.6\",\"generator\":\"CGImap 0.9.0 (1826666 spike-07.openstreetmap.org)\",\"copyright\":\"OpenStreetMap
        and contributors\",\"attribution\":\"http://www.openstreetmap.org/copyright\",\"license\":\"http://opendatacommons.org/licenses/odbl/1-0/\",\"elements\":[{\"type\":\"node\",\"id\":311839269,\"lat\":34.8449488,\"lon\":136.5386784,\"timestamp\":\"2016-04-18T09:26:07Z\",\"version\":3,\"changeset\":38662369,\"user\":\"Andr\xE9s31\",\"uid\":811230},{\"type\":\"node\",\"id\":311839291,\"lat\":34.8452452,\"lon\":136.5383728,\"timestamp\":\"2016-04-18T10:22:20Z\",\"version\":3,\"changeset\":38663408,\"user\":\"Andr\xE9s31\",\"uid\":811230},{\"type\":\"node\",\"id\":311839292,\"lat\":34.8454501,\"lon\":136.5381516,\"timestamp\":\"2016-04-18T10:22:20Z\",\"version\":3,\"changeset\":38663408,\"user\":\"Andr\xE9s31\",\"uid\":811230},{\"type\":\"node\",\"id\":311839299,\"lat\":34.8457008,\"lon\":136.5378166,\"timestamp\":\"2016-04-18T10:22:[...]
