interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/way/430963095/full.json
  response:
    body:
      string: "{\"version\":\"0.6\",\"generator\":\"CGImap 0.9.0 (331834 spike-08.openstreetmap.org)\",\"copyright\":\"OpenStreetMap
        and contributors\",\"attribution\":\"http://www.openstreetmap.org/copyright\",\"license\":\"http://opendatacommons.org/licenses/odbl/1-0/\",\"elements\":[{\"type\":\"node\",\"id\":2904552006,\"lat\":45.4333598,\"lon\":12.3398728,\"timestamp\":\"2023-02-22T08:13:42Z\",\"version\":11,\"changeset\":132867278,\"user\":\"ivanbranco\",\"uid\":11220113},{\"type\":\"node\",\"id\":4302156687,\"lat\":45.4333749,\"lon\":12.3398939,\"timestamp\":\"2016-07-14T13:21:34Z\",\"version\":2,\"changeset\":40739347,\"user\":\"marek
        kleciak\",\"uid\":338611},{\"type\":\"node\",\"id\":4302156688,\"lat\":45.4333386,\"lon\":12.3398731,\"timestamp\":\"2016-07-14T13:21:35Z\",\"version\":2,\"changeset\":40739347,\"user\":\"marek
        kleciak\",\"uid\":338611},{\"type\":\"node\",\"id\":4302159789,\"lat\":45.4333603,\"lon\":12.3399457,\"timestamp[...]
