interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.openstreetmap.org/api/0.6/way/398987317/full.json
  response:
    body:
      string: "{\"version\":\"0.6\",\"generator\":\"CGImap 0.9.0 (872424 spike-06.openstreetmap.org)\",\"copyright\":\"OpenStreetMap
        and contributors\",\"attribution\":\"http://www.openstreetmap.org/copyright\",\"license\":\"http://opendatacommons.org/licenses/odbl/1-0/\",\"elements\":[{\"type\":\"node\",\"id\":695741757,\"lat\":45.4358896,\"lon\":12.3307140,\"timestamp\":\"2014-02-21T16:34:36Z\",\"version\":2,\"changeset\":20697062,\"user\":\"Erasmus
        Albatros\",\"uid\":653366},{\"type\":\"node\",\"id\":1599442269,\"lat\":45.4314372,\"lon\":12.3349663,\"timestamp\":\"2014-02-21T16:34:36Z\",\"version\":2,\"changeset\":20697062,\"user\":\"Erasmus
        Albatros\",\"uid\":653366},{\"type\":\"node\",\"id\":1599442271,\"lat\":45.4315068,\"lon\":12.3393961,\"timestamp\":\"2012-01-21T00:41:38Z\",\"version\":1,\"changeset\":10452095,\"user\":\"fahrnwol\",\"uid\":411661},{\"type\":\"node\",\"id\":1599442273,\"lat\":45.4315766,\"lon\":12.3383259,\"timestamp\":\"2012-01[...]
