interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openstreetmap.org/api/0.6/node/9589344640.json
  response:
    body:
      string: '{"version":"0.6","generator":"openstreetmap-cgimap 2.1.0 (1317 spike-06.openstreetmap.org)","copyright":"OpenStreetMap
        and contributors","attribution":"http://www.openstreetmap.org/copyright","license":"http://opendatacommons.org/licenses/odbl/1-0/","elements":[{"type":"node","id":9589344640,"lat":45.4331611,"lon":12.3394685,"timestamp":"2022-03-19T08:16:41Z","version":2,"changeset":118656956,"user":"didapike","uid":9397053,"tags":{"leisure":"outdoor_seating"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
